<!DOCTYPE html>
<html lang="en">
  <%- include('./../blocks/head.ejs') %>
  <body>
    <%- include('./../blocks/header.ejs') %>
    <body>
      <div
        class="container my-5"
        style="min-height: 64vh"
      >
        <h2 class="mb-3 text-bold"><%= title %></h2>
        <div class="row">
          <% blogs.forEach(function(blog){ %>
          <div class="col-md-3">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.content.substring(0, 100) %>...</p>
                <a
                  href="/blogs/<%= blog._id %>"
                  class="btn btn-primary"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </body>
    <%- include('./../blocks/footer.ejs') %>
  </body>
</html>
